.navbar-brand {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2rem;
}
@media (min-width: 576px) {
    .navbar-brand {
        font-size: 2.5rem;
    }
}
@media (min-width: 768px) {
    .navbar-brand {
        font-size: 3rem;
    }
}
@media (min-width: 992px) {
    .navbar-brand {
        font-size: 3.5rem;
    }
}
.navbar-brand:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

#content {
    min-height: 300px;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}